---
import "../styles/about.css";

import Layout from "../layouts/Layout.astro";
import ContributionButton from "../components/ContributionButton.astro";

export const prerender = true;
Astro.response.headers.set("Cache-Control", "public, max-age=120");
---

<Layout subtitle="About this site">
  <main>
    <div class="about">
      <h2>About</h2>
      <p>
        The Blue Report is a project by <a
          href="https://bsky.app/profile/george.black">George Black</a
        >. The source code, as well as ranking information is <a
          href="https://github.com/georgemblack/blue-report/blob/master/RANKING.md"
          >available here</a
        >.
      </p>
      <p>
        For more advanced news aggregation on Bluesky, I'd highly recommend
        checking out <a href="https://sill.social">sill.social</a>.
      </p>
      <p>
        Buying a coffee helps keep the servers running, and is greatly
        appreciated!
      </p>
      <h2>Bluesky Feeds</h2>
      <p>
        The <a href="https://bsky.app/profile/theblue.report">@theblue.report</a
        > account on Bluesky hosts custom feeds to view the report. Each link in
        is represented the most popular post that shared it.
      </p>
      <ul>
        <li>
          <a href="https://bsky.app/profile/theblue.report/feed/toplinkshour">
            Hot Links (previous hour)
          </a>
        </li>
        <li>
          <a href="https://bsky.app/profile/theblue.report/feed/toplinksday">
            Top Links (previous day)
          </a>
        </li>
        <li>
          <a href="https://bsky.app/profile/theblue.report/feed/toplinksweek">
            Best Links (previous week)
          </a>
        </li>
      </ul>
      <h2>Atom/JSON Feeds</h2>
      <p>
        The Atom/JSON feeds share posts that reach the #1, and embed the most
        popular posts that shared the given link.
      </p>
      <ul>
        <li>
          <a href="https://data.theblue.report/feeds/top-day.xml">Atom feed</a>
        </li>
        <li>
          <a href="https://data.theblue.report/feeds/top-day.json">JSON feed</a>
        </li>
      </ul>
      <h2>Contact</h2>
      <p>
        For questions or feedback, reach out to <a
          href="mailto:contact@george.black">contact@george.black</a
        >.
      </p>
    </div>
  </main>
</Layout>
<footer>
  <ContributionButton />
</footer>
