---
import ContributionButton from "../components/ContributionButton.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout subtitle="About this site">
  <main>
    <p>
      The Blue Report is side project by <a
        href="https://bsky.app/profile/george.black">George Black</a
      >, inspired by <a href="https://sill.social">Sill</a>. Feedback and ideas
      are welcome!
    </p>
    <p></p>
    <p style="margin-top: 1.5em;">
      The source code, as well as information on how links are ranked is <a
        href="https://github.com/georgemblack/blue-report/blob/master/RANKING.md"
        >available here</a
      >.
    </p>
    <p style="margin-top: 1.5em;">
      Want to help keep the servers happy? Feel free to buy a coffee!
    </p>
  </main>
  <footer>
    <ContributionButton />
  </footer>
</Layout>
