# General
node_modules
dist
.DS_Store
.astro
.vscode
.terraform
.env

# Yarn
website/.yarn/cache
website/.yarn/unplugged
website/.yarn/build-state.yml
website/.yarn/install-state.gz
feedgen/.yarn/cache
feedgen/.yarn/unplugged
feedgen/.yarn/build-state.yml
feedgen/.yarn/install-state.gz

# Wrangler
feedgen/.wrangler

# Custom
publish.sh
bot/index.js
