:root {
  /* primary fonts */
  --serif-font: "Crete Round", serif;
  --sans-serif-font: system-ui;

  /* font sizes */
  --font-size-small: 0.85em;

  /* font weights */
  --font-weight-normal: 400;

  /* general purpose colors */
  --background-color: #f0ece9;
  --blockquote-border-color: #e4e1de;
  --line-separator-color: rgba(0, 0, 0, 0.05);

  /* text colors */
  --header-accent-color: #4286f4;
  --header-accent-color-secondary: #78acff;
  --header-accent-color-faded: rgba(66, 134, 244, 0.2);
  --link-color: #2b589f;
  --link-hover-color: #1f4a8f;
  --body-text-color: #2d2d2d;
  --body-text-color-lighter: #3e3e3e;
  --faded-text-color: rgba(0, 0, 0, 0.4);
  --link-host-color: #606060;

  /* toggle colors */
  --toggle-text-color: #2d2d2d;
  --toggle-background-color: #f4f0eb;
  --toggle-selected-color: rgba(66, 134, 244, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 56rem;
  line-height: 150%;
  color: var(--body-text-color);
  font-family: var(--sans-serif-font);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  background-color: var(--background-color);
}

header {
  margin-top: 2em;
  text-align: center;
  font-family: var(--serif-font);
}

header .accent {
  color: var(--header-accent-color);
  background: linear-gradient(315deg, var(--header-accent-color), var(--header-accent-color-secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .subtitle {
  margin-top: 0.5em;
}

/* small break-point */
@media screen and (max-width: 36em) {
  body {
    padding: 0 0.85em;
  }
}

main {
  margin-top: 1.5em;
}

footer {
  margin: 4em 0;
  font-size: var(--font-size-small);
  text-align: center;
}

/* small break-point */
@media screen and (max-width: 36em) {
  footer p {
    text-align: left;
    margin-top: 1em;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--serif-font);
}

h2 {
  font-size: 1.25em;
  font-weight: var(--font-weight-normal);
  overflow-wrap: anywhere;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  h2 {
    font-size: 1.15em;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* container group */
.container-group {
  margin-top: 1.5em;
}

/* containers for list items */
.container {
  padding: 2em 0em;
  border-top: 2px solid var(--line-separator-color);
}

.container:last-of-type {
  border-bottom: 2px solid var(--line-separator-color);
}

/* links */
.link {
  display: flex;
  gap: 2em;
}

.link .preview img,
.link .preview .placeholder {
  display: block;
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
}

.link .preview .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.link .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

.link .subcontent {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
}

.link .metadata {
  color: var(--faded-text-color);
  display: flex;
  gap: 0.5em;
}

.link .metadata .host {
  color: var(--link-host-color);
}

.last-updated {
  margin-top: 0.75em;
  color: var(--faded-text-color);
  text-align: center;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .link {
    gap: 1em;
  }

  .link .preview img,
  .link .preview .placeholder {
    width: 8rem;
    height: 5rem;
  }

  .link .preview .placeholder {
    font-size: 2em;
  }

  .link .metadata {
    font-size: var(--font-size-small);
    flex-direction: column;
    gap: 0;
  }

  .link .metadata .bullet {
    display: none;
  }

  .last-updated {
    font-size: var(--font-size-small);
  }

  .link .subcontent {
    align-items: flex-end;
  }
}

/* small break-point */
@media screen and (max-width: 36em) {
  .link-container {
    min-height: 12em;
  }

  .link .preview img,
  .link .preview .placeholder {
    margin-top: 0.25rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
  }
}

/* expand button (inline) */
.expand-inline button {
  background: none;
  font-size: 1em;
}

.expand-inline svg {
  width: 1em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .expand-inline button {
    font-size: var(--font-size-small);
  }
}

/* expand button (centered) */
.expand-centered {
  display: none;
  margin-top: 0.75em;
}

.expand-centered button {
  display: block;
  font-size: var(--font-size-small);
  margin: 0 auto;
  padding: 0.35em 2em;
  border-radius: 1em;
  /* backup in case linear-gradient is not supported */
  background-color: rgba(85, 170, 255, 0.1);
  /* primary background */
  background: linear-gradient(rgba(85, 170, 255, 0.05), rgba(85, 170, 255, 0.1));
  /* ensure gray shadow does not appear on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent delay on touch devices */
  touch-action: manipulation;
}

.expand-centered button:active {
  background: linear-gradient(rgba(85, 170, 255, 0.1), rgba(85, 170, 255, 0.2));
}

.expand-centered svg {
  width: 1.25em;
}

.expand-centered button.open svg {
  transform: rotate(180deg);
}

.expand-centered button svg {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

/* expand buttons (shared) */
.expand-centered button,
.expand-inline button {
  line-height: 0;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  color: var(--link-color);
  border: none;
}

.expand-centered .inner,
.expand-inline .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.expand-centered button.open svg,
.expand-inline button.open svg {
  transform: rotate(180deg);
}

.expand-centered button svg,
.expand-inline button svg {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

/* small break-point */
@media screen and (max-width: 36em) {
  .expand-inline {
    display: none;
  }

  .expand-centered {
    display: block;
  }
}

/* link details */
.link-details {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.link-details.open {
  visibility: visible;
  height: auto;
  opacity: 1;
  margin-top: 2em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .link-details.open {
    margin-top: 1em;
  }
}

/* recommended posts */
.recommended-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .recommended-posts {
    display: flex;
    overflow-x: auto;
  }

  .recommended-posts::-webkit-scrollbar {
    display: none;
  }
}

.recommended-post {
  padding: 1em;
  border: 1px solid var(--header-accent-color-faded);
  border-radius: 1em;
  background-color: var(--toggle-background-color);
  background: linear-gradient(135deg, transparent, rgba(85, 170, 255, 0.05));
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
  /* ensure long text (like links) doesn't cause container to expand in width */
  overflow-wrap: anywhere;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .recommended-post {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 18em;
  }
}

.recommended-post .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-post .username {
  font-family: var(--serif-font);
  line-height: 100%;
}

.recommended-post .handle {
  font-size: 0.85em;
  line-height: 100%;
}

.recommended-post .text {
  margin-top: 0.5em;
  font-size: 0.85em;
}

.recommended-post .view-more {
  font-size: var(--font-size-small);
  text-align: right;
}
