:root {
  /* primary fonts */
  --serif-font: "Crete Round", serif;
  --sans-serif-font: system-ui;

  /* font weights */
  --font-weight-bold: 800;
  --font-weight-normal: 400;

  /* font sizes */
  --font-size-small: 0.85em;

  /* general purpose colors */
  --background-color: #f0ece9;
  --blockquote-border-color: #e4e1de;
  --line-separator-color: rgba(0, 0, 0, 0.05);

  /* text colors */
  --header-accent-color: #4286f4;
  --header-accent-color-faded: rgba(66, 134, 244, 0.25);
  --link-color: #2b589f;
  --link-hover-color: #1f4a8f;
  --body-text-color: #2d2d2d;
  --faded-text-color: rgba(0, 0, 0, 0.4);
  --link-host-color: #606060;

  /* toggle colors */
  --toggle-text-color: #2d2d2d;
  --toggle-background-color: #f4f0eb;
  --toggle-selected-color: rgba(66, 134, 244, 0.25);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 56rem;
  line-height: 150%;
  color: var(--body-text-color);
  font-family: var(--sans-serif-font);
  background-color: var(--background-color);
}

header {
  margin-top: 2em;
  text-align: center;
  font-family: var(--serif-font);
}

header .accent {
  color: var(--header-accent-color);
}

header .subtitle {
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  gap: 0.25em;
}

/* small break-point */
@media screen and (max-width: 36em) {
  header .subtitle {
    flex-direction: column;
    gap: 0;
  }
}

/* tiny break-point */
@media screen and (max-width: 23em) {
  header .subtitle {
    font-size: 0.85em;
  }
}

main {
  margin-top: 1em;
}

footer {
  margin: 4em 0;
  font-size: var(--font-size-small);
  text-align: center;
}

/* small break-point */
@media screen and (max-width: 36em) {
  footer p {
    text-align: left;
    margin-top: 1em;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* links */
.link-group {
  margin-top: 2em;
}

.link-container {
  padding: 1.5em 0em;
  border-top: 2px solid var(--line-separator-color);
}

.link-container:last-of-type {
  border-bottom: 2px solid var(--line-separator-color);
}

.link {
  display: flex;
  gap: 2em;
}

.link .preview img,
.link .preview .placeholder {
  display: block;
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
}

.link .preview .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.link .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  justify-items: center;
}

.link .subcontent {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* inline-block to prevent extra vertical space due to line-height */
.link .title {
  font-size: 1.25em;
  font-family: var(--serif-font);
  overflow-wrap: anywhere;
}

.link .metadata {
  color: var(--faded-text-color);
  display: flex;
  gap: 0.5em;
}

.link .metadata .host {
  color: var(--link-host-color);
}

.last-updated {
  margin-top: 0.75em;
  color: var(--faded-text-color);
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .link {
    gap: 1em;
  }

  .link .title {
    font-size: 1.15em;
  }

  .link .preview img,
  .link .preview .placeholder {
    width: 8rem;
    height: 5rem;
  }

  .link .preview .placeholder {
    font-size: 2em;
  }

  .link .metadata {
    font-size: var(--font-size-small);
    flex-direction: column;
    gap: 0;
  }

  .link .metadata .bullet {
    display: none;
  }

  .last-updated {
    font-size: var(--font-size-small);
  }

  .link .subcontent {
    align-items: flex-end;
  }
}

/* small break-point */
@media screen and (max-width: 36em) {
  .link-container {
    padding: 2em 0;
    min-height: 12em;
  }

  .link .preview img,
  .link .preview .placeholder {
    margin-top: 0.25rem;
    width: 5rem;
    height: 5rem;
  }
}

/* expand link button */
.expand button {
  display: block;
  font-size: var(--font-size-small);
  margin: 0 auto;
  padding: 0.25em 2em;
  border-radius: 1em;
  border: none;
  color: var(--link-color);
  background-color: rgba(85, 170, 255, 0.1);
  line-height: 0;
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
}

.expand .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
}

.expand svg {
  width: 1.25em;
}

.expand button.open svg {
  transform: rotate(180deg);
}

.expand button svg {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

.expand button:hover {
  transform: scale(1.05);
  transition: transform 0.15s ease-in-out;
}

/* centered expand link button */
.expand.centered {
  display: none;
  margin-top: 1em;
}

/* small break-point */
@media screen and (max-width: 36em) {
  .expand.inline {
    display: none;
  }

  .expand.centered {
    display: block;
  }
}

/* link details */
.link-details {
  margin-top: 2em;
  display: none;
}

.link-details h3 {
  font-size: 1em;
}

/* recommended posts */
.recommended-posts {
  display: flex;
  gap: 1em;
  overflow-x: auto;
}

.recommended-post {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18em;
  padding: 1em;
  border: 1px solid var(--header-accent-color-faded);
  border-radius: 0.75em;
  background-color: var(--toggle-background-color);
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
}

.recommended-post .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-post .username {
  font-family: var(--serif-font);
  line-height: 100%;
}

.recommended-post .handle {
  font-size: 0.85em;
  line-height: 100%;
}

.recommended-post .text {
  margin-top: 0.5em;
  font-size: 0.85em;
}

.recommended-post .view-more {
  font-size: var(--font-size-small);
  text-align: right;
}