/*--------------------------------*/
/*         Variables              */
/*--------------------------------*/
:root {
  /* Layout */
  --body-padding: 1rem;

  /* Fonts */
  --serif-font: "Crete Round", serif;
  --sans-serif-font: system-ui;
  --font-size-small: 0.85em;
  --font-weight-normal: 400;

  /* General purpose colors */
  --background-color: #f0ece9;
  --line-separator-color: rgba(0, 0, 0, 0.05);

  /* Text colors */
  --header-accent-color: #4286f4;
  --header-accent-color-secondary: #78acff;
  --header-accent-color-transparent: rgba(66, 134, 244, 0.2);
  --link-color: #2b589f;
  --link-hover-color: color-mix(in srgb, var(--link-color) 85%, black);
  --body-text-color: #2d2d2d;
  --body-text-color-blended: color-mix(in srgb, var(--body-text-color) 85%, white);
  --faded-text-color-1: rgba(0, 0, 0, 0.4);
  --faded-text-color-2: rgba(0, 0, 0, 0.65);

  /* Button colors */
  --button-background-color: rgba(85, 170, 255, 0.1);
  --button-background: linear-gradient(rgba(85, 170, 255, 0.05), rgba(85, 170, 255, 0.1));

  /* Toggle colors */
  --toggle-background-color: #f4f0eb;
  --toggle-selected-color: rgba(66, 134, 244, 0.25);

  /* Cards */
  --card-background-color: #f4f0eb;
  --card-background: linear-gradient(135deg, transparent, rgba(85, 170, 255, 0.05));
  --card-box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
}

/* Small break-point */
@media screen and (max-width: 36em) {
  :root {
    --body-padding: 0.85rem;
  }
}

/* Dark mode */
@media screen and (prefers-color-scheme: dark) {
  :root {
    /* General purpose colors */
    --background-color: #101212;
    --line-separator-color: rgba(255, 255, 255, 0.05);

    /* Text colors */
    --body-text-color: #f7f7f7;
    --body-text-color-blended: color-mix(in srgb, var(--body-text-color) 85%, black);
    --link-color: #79b8ff;
    --link-hover-color: color-mix(in srgb, var(--link-color) 85%, white);
    --faded-text-color-1: rgba(255, 255, 255, 0.5);
    --faded-text-color-2: rgba(255, 255, 255, 0.8);

    /* Toggle colors */
    --toggle-background-color: rgba(255, 255, 255, 0.05);
  }
}

/*--------------------------------------*/
/*         Primary elements             */
/*--------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 1em auto;
  padding: 0 var(--body-padding);
  max-width: 56rem;
  line-height: 150%;
  color: var(--body-text-color);
  font-family: var(--sans-serif-font);
  font-weight: var(--font-weight-normal);
  font-style: normal;
  background-color: var(--background-color);
}

header {
  margin-top: 2em;
  text-align: center;
  font-family: var(--serif-font);
}

header h1 {
  letter-spacing: -1px;
}

header h1 a {
  color: var(--body-text-color);
}

header h1 a:hover {
  text-decoration: none;
}

header .accent {
  color: var(--header-accent-color);
  background: linear-gradient(315deg, var(--header-accent-color), var(--header-accent-color-secondary));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header .subtitle {
  margin-top: 0.5em;
}

main {
  margin-top: 1.5em;
}

footer {
  margin: 4em 0;
  font-size: var(--font-size-small);
  text-align: center;
}

/* small break-point */
@media screen and (max-width: 36em) {
  footer p {
    text-align: left;
    margin-top: 1em;
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--serif-font);
  font-weight: var(--font-weight-normal);
}

h2 {
  font-size: 1.25em;
  overflow-wrap: anywhere;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  h2 {
    font-size: 1.15em;
  }
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/*-----------------------------------*/
/*         Link buttons              */
/*-----------------------------------*/
.link-button a {
  margin: 0 auto;
  padding: 0.35em 2em;
  width: 16em;
  display: flex;
  gap: 0.5em;
  justify-content: center;
  font-size: var(--font-size-small);
  border-radius: 2em;
  text-decoration: none;
  background-color: var(--button-background-color);
  background: var(--button-background);
  /* ensure gray shadow does not appear on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent delay on touch devices */
  touch-action: manipulation;
}

.link-button svg {
  width: 1.25em;
}

/* container group */
.container-group {
  margin-top: 1.5em;
}

/* containers for list items */
.container {
  padding: 2em 0em;
  border-top: 2px solid var(--line-separator-color);
}

.container:last-of-type {
  border-bottom: 2px solid var(--line-separator-color);
}

/*--------------------------------*/
/*         Cards                  */
/*--------------------------------*/
.card {
  border: 1px solid var(--header-accent-color-transparent);
  border-radius: 1em;
  background-color: var(--card-background-color);
  background: var(--card-background);
  box-shadow: var(--card-box-shadow);
  /* Ensure images that reach the edges don't overflow */
  overflow: hidden;
  /* Ensure long text (like links) doesn't cause container to expand in width */
  overflow-wrap: anywhere;
}
