/*--------------------------------*/
/*         Navigation             */
/*--------------------------------*/
nav {
  margin: 0 auto;
  max-width: 34em;
  display: flex;
  padding: 0.25em;
  font-family: var(--serif-font);
  line-height: 100%;
  border-radius: 2em;
  background-color: var(--toggle-background-color);
  box-shadow: 5px 6px 23px -10px rgba(0, 0, 0, 0.25);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  touch-action: manipulation;
}

nav a {
  color: var(--body-text-color-blended);
}

nav a:hover {
  text-decoration: none;
}

nav div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
  text-align: center;
}

nav .active {
  background-color: var(--toggle-selected-color);
}

nav .active a {
  color: var(--header-accent-color);
}

/* Small break-point */
@media screen and (max-width: 36em) {
  nav {
    max-width: 24em;
  }

  nav a {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
  }

  /* Decrease size of label, increase size of icon */
  nav .label {
    font-size: var(--font-size-small);
  }

  /* Add slight top margin to visuall center icon */
  nav .icon {
    margin-top: 0.1em;
    font-size: 1.15em;
  }
}

/*---------------------------------------*/
/*         Recommended posts             */
/*---------------------------------------*/
.recommended-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .recommended-posts {
    /* Convert to horizontal scroll */
    display: flex;
    overflow-x: auto;

    /* Extend beyond body's padding dynamically */
    margin-left: calc(-1 * var(--body-padding));
    margin-right: calc(-1 * var(--body-padding));
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
  }

  .recommended-posts::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
  }
}

.recommended-post {
  padding: 1em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .recommended-post {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;
  }
}

.recommended-post .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-post .username {
  font-family: var(--serif-font);
  line-height: 100%;
}

.recommended-post .handle {
  font-size: 0.85em;
  line-height: 100%;
}

.recommended-post .text {
  margin-top: 0.5em;
  font-size: 0.85em;
}

.recommended-post .view-more {
  font-size: var(--font-size-small);
  text-align: right;
}
