.site h2 {
  font-size: 1.5em;
}

.site h3 {
  margin-top: 1em;
  font-size: 1em;
}

.site .interactions {
  margin-top: 0.25em;
  color: var(--faded-text-color-1);
}

.site .interactions {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* Help icon next to user interactions */
/* TODO: Clean this up */
/* .site .interactions .help {
  padding: 0.1em 0.75em;
  font-size: var(--font-size-small);
  color: var(--body-text-color-blended);
  background-color: var(--toggle-background-color);
  border-radius: 1em;
  cursor: pointer;
} */

.site .help {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.site .label {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.site .contents {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  width: max-content;
  max-width: 18em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Tooltip arrow */
.site .contents::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

/* Show tooltip on hover (desktop) and focus (mobile) */
.site .help:hover .contents,
.help:focus-within .contents {
  visibility: visible;
  opacity: 1;
}

/* End tooltip code */
/* TODO: Clean this up */

.top-links {
  margin-top: 0.5em;
  display: flex;
  overflow-x: auto;
  gap: 1em;

  /* Extend beyond body's padding dynamically */
  margin-left: calc(-1 * var(--body-padding));
  margin-right: calc(-1 * var(--body-padding));
  padding-left: var(--body-padding);
  padding-right: var(--body-padding);
}

.top-links::-webkit-scrollbar {
  display: none;
}

.top-link {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20em;
  display: flex;
  flex-direction: column;
}

.top-link figure {
  margin: 0;
  padding: 0;
  height: 10em;
}

/* Remove default padding added below the image */
.top-link img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-link .details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-link .details h3,
.top-link .details p {
  padding: 0 1rem 0 1rem;
}

.top-link .details p {
  margin: 0.5rem 0;
}

.top-link .details p {
  color: var(--faded-text-color-1);
  font-size: var(--font-size-small);
}
