---
import ContributionButton from "./ContributionButton.astro";
---

<footer>
  <ContributionButton />
  <p style="text-align: center">
    <a href="/about/">Learn more about this site.</a>
  </p>
  <!-- Script for handling clipboard events, to prevent users from copying redirect URLs -->
  <script>
    document.querySelectorAll("a.redirect-link").forEach((link) => {
      function setOriginalHref() {
        link.dataset.tempHref = link.href; // Save original redirect link
        link.href = link.dataset.originalUrl; // Set to original URL for copying
      }

      function restoreHref() {
        if (link.dataset.tempHref) {
          link.href = link.dataset.tempHref; // Restore the original redirect link
          delete link.dataset.tempHref;
        }
      }

      // For desktop (right-click "Copy Link Address")
      link.addEventListener("contextmenu", setOriginalHref);
      link.addEventListener("mouseleave", restoreHref);

      // For mobile (long-press "Copy Link")
      link.addEventListener("touchstart", setOriginalHref);
      link.addEventListener("touchend", restoreHref);
      link.addEventListener("touchcancel", restoreHref);
    });
  </script>
  <!-- 100% privacy-first analytics -->
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</footer>
