---

---

<footer>
  <p>
    <a href="https://bsky.app/profile/theblue.report/post/3lorkzgha4g2n"
      >Bluesky Feeds</a
    > • <a href="https://data.theblue.report/feeds/top-day.xml">Atom Feed</a> • <a
      href="https://data.theblue.report/feeds/top-day.json">JSON Feed</a
    >
  </p>
  <p><a href="/about/">About this site</a></p>
  <!-- 100% privacy-first analytics -->
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</footer>
